<button
	mat-raised-button
	*ngFor="let mode of sceneControlService.modes"
	(tap)="sceneControlService.activeMode.next(mode)"
	[ngClass]="{ active: mode.active }"
>
	<fa-icon [icon]="mode.icon" [size]="iconSize"></fa-icon>
</button>
Height:
<mat-slider
	min="0"
	max="1"
	step="0.01"
	(input)="sceneControlService.valueSlider.next($event.value)"
	[value]="sceneControlService.valueSlider.value"
></mat-slider>
Size:
<mat-slider
	min="1"
	max="1000"
	step="0.1"
	(input)="sceneControlService.sizeSlider.next($event.value)"
	[value]="sceneControlService.sizeSlider.value"
></mat-slider>
