:host {
	//position: fixed;
	top: 0;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	margin-left: 0.5rem;

	> div {
		> * {
			margin-right: 0.4rem;
			float: left;
			line-height: 2rem;
		}

		> span {
			display: inline-block;
			vertical-align: middle;
		}

		span,
		button {
			margin-top: 1rem;
		}

		.slider {
			margin-top: 0.6rem;
		}
	}
}
