:host {
	//position: fixed;
	top: 0;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 6rem 6rem 14rem 6rem 14rem;
	margin-top: 0.5rem;
	grid-gap: 0.5rem;
	justify-items: end;
	align-items: center;

	> * {
		margin-right: 0.4rem;
		float: left;
		transition: background-color 0.1s;
	}

	> span {
		display: inline-block;
		vertical-align: middle;
	}
}
