@import '~@angular/material/theming';

@mixin speed-control-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-speed-control {
		color: mat-color($primary, 'darker');

		.active {
			background-color: mat-color($accent);
		}
	}
}
