:host {
	div {
		//display: grid;
		//grid-gap: 0.5rem;
		//grid-template-columns: repeat( auto-fit, minmax(1rem, 1fr) );
		margin-top: 0.5rem;
		margin-right: -1rem;

		display: inline-flex;

		> * {
			margin-right: 0.5rem;
		}

		> .slider {
			margin-bottom: -1rem;
			margin-top: -0.2rem;
		}
	}
}
