@import '../../../../../node_modules/@angular/material/theming';

@mixin hamburger-component-theme($theme) {
	$background: map-get($theme, background);
	$primary: map-get($theme, primary);

	app-hamburger > div > span {
		background-color: mat-color($primary);

		filter: invert(100%);
	}
}
