:host {
	position: absolute;
	z-index: 100;
	transform-origin: top left;
	margin-top: -40px;
	margin-left: 10px;

	h1 {
		margin: 0;
	}
	div {
		pointer-events: all;
		border-radius: 15px;
		flex-direction: column;
		padding: 10px;
		position: relative;

		display: grid;
		grid-gap: 0.2rem;
		grid-auto-columns: 1fr;
	}

	div::after {
		position: absolute;
		top: 30px;
		left: -10px;
		width: 20px;
		height: 20px;
		transform: rotate(45deg);
		z-index: -50;
		clip-path: polygon(0 0, 0% 100%, 100% 100%);
		content: '';
	}
}
