@import '~@angular/material/theming';

@mixin popup-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-popup {
		.popup, .popup::after {
			background-color: rgba(mat-color($primary, 'lighter'), 0.9);
		}

		color: mat-color($primary, 'darker');
	}
}
