@import '~@angular/material/theming';

@mixin sidebar-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-sidebar {
		.mat-drawer {
			background-color: rgba(mat-color($primary, 'lighter'), 0.8);
		}

		.active {
			background-color: mat-color($accent);
		}
	}
}
