<mat-sidenav-container class="container">
	<mat-sidenav
		[(mode)]="over"
		(openedChange)="setSidebarOpen($event)"
		[opened]="sidebarOpen$ | async"
		*ngIf="!disabled"
		class="bottom-to-top"
		(closedStart)="onCloseStart()"
	>
		<h2>Objects</h2>
		<div class="spawnables">
			<button aria-label="Create Actor, drag it to the scene" mat-raised-button [dragSource]="actorSource">
				<fa-icon [icon]="maleIcon" [size]="maleIconSize"></fa-icon> Actor
			</button>
		</div>
		<h2>Actors {{ (actors$ | async)?.length }}</h2>
		<div class="spawnables">
			<button
				aria-label="Select Actor"
				mat-raised-button
				*ngFor="let actor of actors$ | async"
				(click)="select($event, actor)"
				[ngStyle]="{ backgroundColor: (accumulatorFor(actor) | async)?.accumulator?.color?.value }"
			>
				<fa-icon [icon]="maleIcon" [size]="maleIconSize"></fa-icon>
				{{ (accumulatorFor(actor) | async)?.accumulator?.name?.value }} ({{ actor?.deltas?.ids?.length }})
			</button>
		</div>
	</mat-sidenav>
	<mat-sidenav-content> <ng-content id="content"> </ng-content> </mat-sidenav-content>
</mat-sidenav-container>

