@import '~@angular/material/theming';

@mixin toolbar-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-toolbar, .menu {
		background-color: rgba(mat-color($primary, 'lighter'), 0.8);


	}

	.exportImportButton {
		background-color: rgba(mat-color($accent, 'lighter'), 0.8);
	}

	.repoButton, .exportImportButton {
		color: rgba(mat-color($primary, 'darker'), 1);
	}

}
