@import '~@angular/material/theming';

@mixin actor-form-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-actor-form {
		// actorDialog
		background-color: rgba(mat-color($primary, 'darker'), 0.8);
		color: mat-color($primary, 'darker');
	}
}
