<h1 mat-dialog-title>Edit actor</h1>
<mat-dialog-content>
	<form [formGroup]="actorForm">
		<div>
			<mat-form-field class="date" floatLabel="never">
				<mat-label>{{ originalDate | amDateFormat: 'YYYY-MM-DD' }}</mat-label>
				<input [matDatepicker]="date" formControlName="date" id="dateInput" matInput/>
				<mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
				<mat-datepicker #date></mat-datepicker>
			</mat-form-field>
			<mat-form-field class="time" floatLabel="never">
				<mat-label>{{ originalTime }}</mat-label>
				<input [dropSpecialCharacters]="false" formControlName="time" mask="Hh:m0:s0" matInput/>
			</mat-form-field>
		</div>
		<mat-label class="nameLabel">Name:</mat-label>
		<mat-form-field class="name" floatLabel="never">
			<mat-label>{{ originalData?.accumulator?.name.value }}</mat-label>
			<input formControlName="name" matInput/>
		</mat-form-field>

		<mat-label class="maxSpeedLabel">Max Speed (km/h):</mat-label>
		<mat-form-field class="speed" floatLabel="never">
			<mat-label>{{ originalData?.accumulator?.maxSpeed.value }}</mat-label>
			<input formControlName="maxSpeed" mask="9*" matInput/>
		</mat-form-field>

		<mat-label class="colorLabel">Color:</mat-label>
		<mat-form-field class="color" floatLabel="never" [ngStyle]="{ backgroundColor: color }">
			<input [(colorPicker)]="color" [style.background]="color" matInput/>
		</mat-form-field>

		<hr class="divider"/>
		<h2>Existing knowledge:</h2>
		<app-form-entry
			[parent]="knowledgeArray"
			[index]="i"
			*ngFor="let control of knowledgeArray.controls; let i = index"
			[control]="control"
			class="entries"
			[existing]="true"
		>
		</app-form-entry>
		<h2>New knowledge:</h2>
		<app-form-entry
			[parent]="newKnowledgeArray"
			[index]="i"
			[control]="control"
			class="entries"
			*ngFor="let control of newKnowledgeArray.controls; let i = index"
		>
		</app-form-entry>
	</form>
	<button (click)="addNewKnowledge()" aria-label="Add new knowledge entry" class="add" color="accent" mat-flat-button>
		<fa-icon [icon]="plusIcon"></fa-icon>
	</button>
</mat-dialog-content>
<mat-dialog-actions>
	<button
		aria-label="Save Form"
		mat-flat-button
		color="accent"
		[mat-dialog-close]="result"
		class="save"
		[disabled]="!actorForm.valid"
	>
		Save
	</button>
</mat-dialog-actions>
<!--{{ actorForm.value | json }}-->
