<h1 mat-dialog-title>Export/Import database</h1>
This JSON represents all your projects. This can be imported back here too. The maps are downloaded separately as
pictures, and can be imported back one-by-one in the edit menu of a project.
<mat-dialog-content>
	<mat-form-field class="example-full-width">
		<textarea
			#textarea
			matInput
			cdkTextareaAutosize
			cdkAutosizeMinRows="10"
			cdkAutosizeMaxRows="15"
			[value]="data.data"
		>
		</textarea>
	</mat-form-field>
	<a #downloadHelper></a>
</mat-dialog-content>
<mat-dialog-actions>
	<button aria-label="Download textures" mat-flat-button color="accent" (click)="downloadTextures()">
		Download all textures
	</button>
	<button aria-label="Copy to clipboard" mat-flat-button color="accent" (click)="copyToClipboard()">
		Copy to clipboard
	</button>
	<button aria-label="Import to database" mat-flat-button color="accent" (click)="importDatabase()">
		Import
	</button>
</mat-dialog-actions>
