:host {
	display: grid;
	mat-dialog-content {
		height: 100%;

		mat-form-field {
			width: 80%;
			min-width: 5rem;

			textarea {
				height: 100%;
			}
		}

		a {
			visibility: visible;
		}
	}

	mat-dialog-actions {
		justify-self: end;
		display: grid;
		grid-gap: 1rem;
		grid-auto-columns: min-content;
		grid-template-rows: 1fr;
		> * {
			grid-row: 1;
		}
	}
}
