:host {
	form {
		display: grid;
		grid-auto-columns: 1fr 3fr;
		align-items: center;

		mat-form-field {
			margin: 1rem;
		}
	}

	.defaultEarthButton {
	}

	* {
		transition: background-color 0.2s;
	}

	mat-dialog-actions {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;

		.save {
			grid-column: -1;
		}
	}
}
