@import '~@angular/material/theming';

@mixin lore-form-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	app-lore-form {
		color: mat-color($primary, 'darker');
	}
}
