<h1 mat-dialog-title>{{ originalData.id ? 'Edit' : 'Create' }}</h1>
<mat-dialog-content>
	<form [formGroup]="loreForm">
		<mat-label class="nameLabel">Name:</mat-label>
		<mat-form-field class="name" floatLabel="never">
			<mat-label>{{ originalData?.name }}</mat-label>
			<input matInput formControlName="name"/>
		</mat-form-field>

		<hr class="divider"/>
		<div formGroupName="planet">
			<mat-label class="planetNameLabel">Planet Name:</mat-label>
			<mat-form-field class="speed" floatLabel="never">
				<mat-label>{{ originalData?.planet?.name }}</mat-label>
				<input matInput formControlName="name"/>
			</mat-form-field>

			<mat-label class="planetRadius">Planet Radius:</mat-label>
			<mat-form-field class="radius" floatLabel="never">
				<mat-label>{{ originalData?.planet?.radius }}</mat-label>
				<input matInput formControlName="radius" mask="9*"/>
			</mat-form-field>
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<input type="file" matInput
		   #file
		   (change)="handleFileInput($event.target.files)">
	<button
		*ngIf="originalData.id"
		aria-label="Load Default Earth"
		mat-flat-button
		color="accent"
		(click)="loadDefaultEarth()"
	>
		Load default Earth
	</button>
	<button
		aria-label="Save Form"
		mat-flat-button
		color="accent"
		class="save"
		[mat-dialog-close]="loreForm.value"
		[disabled]="!loreForm.valid"
	>
		{{ originalData.id ? 'Save' : 'Create' }}
	</button>
</mat-dialog-actions>
<!-- {{ loreForm.value | json }} -->
