// mat-palette($color, default, lighter, darker);
$default-primary: mat-palette($mat-grey, 700, 200, 900);
$default-accent: mat-palette($mat-blue-grey, 400);
$default-warn: mat-palette($mat-red, 500);

$default-theme: mat-light-theme($default-primary, $default-accent, $default-warn);
