:host {
	background-color: aqua;
	width: 100%;
	height: 200px;
	position: fixed;
	bottom: 0;

	#ruler {
		background-color: cornsilk;

		width: 100%;
		height: 20%;
	}

	.channel {
		background-color: coral;

		width: 100%;
		height: 20%;
	}
}
