<div id="ruler" (pan)="shift($event)">
	<div class="header">
		{{ beginning.format('YYYY-MM-DD') }}
	</div>
	<div *appRepeat="let c; from: unitsBetween" class="divisor" [ngStyle]="{ left: dist(c) }">
		{{ c }}
	</div>
</div>
<div class="channel" [ngStyle]="{ 'margin-left': distanceBetweenUnitsStyle }">
	channel (actors representation) resizebserver width {{ width }}
</div>
<div class="channel">
	diff: {{ unitsBetween }} distanceBetweenUnits::
	{{ distanceBetweenUnits }}
	DOCC COUNT
	{{ countRef | async }}
</div>
<div class="channel">frame: {{ frame | json }} unit: {{ currentUnit }}</div>
