@import '../style/responsive.scss';

.removeButton {
	float: right;
}

.exportImportButton {
	width: 100%;
}

:host {
	overflow: auto;
	display: grid;
	mat-toolbar {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		display: grid;
		overflow: hidden;
		grid-template-rows: 1fr;
		grid-auto-columns: 1fr 3fr;
		//box-shadow: 0 0 100em 0 rgba(0, 0, 0, 0.445), inset 0em 0rem 90rem 15em rgba(0, 0, 0, 0.096);

		#mainBar {
			height: 100%;
			width: 100%;
			display: grid;
			grid-template-rows: 4rem;
			grid-template-columns: 60px 1rem auto minmax(auto, 40rem);

			app-hamburger {
				grid-column: 1;
			}
			.title {
				grid-column: 2;
				height: 100%;
				font-size: 2rem;
				width: 100%;
				text-align: left;
				vertical-align: top;
			}

			#user {
				display: block;
				height: 100%;
				width: 100%;
				@include respond-to(small, medium) {
					grid-column: 4;
				}
				@include respond-to(large) {
					position: relative;
					grid-column: 4;
				}
			}

			.menuButton {
				justify-self: end;
				align-self: center;

				> * {
					margin-left: 0.5rem;
				}
			}
		}
	}

	#content {
		position: relative;
		display: grid;
		@include respond-to(small, medium) {
			grid-template-columns: 1.5rem auto 1.5rem;
		}
		@include respond-to(large) {
			grid-template-columns: auto minmax(40rem, 60vw) auto;
		}

		#content-main {
			grid-column: 2;
		}
	}

	.controls {
		display: inline-flex;
		flex-direction: column;
		height: 100%;
		> .scene-control {
			bottom: 210px;
		}
		> .time-control {
			position: fixed;
			bottom: 210px;
			right: 1rem;
			display: inline-flex;
			flex-direction: column;
			.inlineFromRight {
				display: inline-flex;
				direction: rtl;
				margin-bottom: 0.5rem;
				> * {
					margin-left: 0.5rem;
				}
			}
		}
		> .light-control {
			position: fixed;
			bottom: 210px;
			display: inline;
		}
	}
}
