<mat-toolbar color="primary">
	<mat-toolbar-row id="mainBar">
		<app-hamburger *ngIf="!mediaLarge" @leave [(open)]="sidebar.opened"></app-hamburger>

		<button class="title" mat-button [routerLink]="['']" matRipple disableRipple [matRippleRadius]="800">
			{{ title }}
		</button>

		<!--TODO: Make a project selector and import export dropdown tool here (click on a circular picture to access the menu -->
	</mat-toolbar-row>
</mat-toolbar>

<app-sidebar #sidebar>
	<div class="controls" [ngStyle]="{ 'left.px': timeline.el.nativeElement.offsetLeft }">
		<app-scene-controls class="scene-control"></app-scene-controls>
		<div class="time-control">
			<div class="inlineFromRight">
				<button mat-mini-fab [color]="'basic'" (click)="engineService.speed.next(1)">1X</button>
				<button mat-mini-fab [color]="'basic'" (click)="engineService.speed.next(2)">2X</button>
				<button mat-mini-fab [color]="'basic'" (click)="engineService.speed.next(4)">4X</button>
				<button mat-mini-fab [color]="'basic'" (click)="engineService.speed.next(10)">10X</button>
				<button mat-mini-fab [color]="'basic'" (click)="engineService.speed.next(100)">100X</button>
			</div>
			<div class="inlineFromRight">
				<app-play #play (tap)="timeline.playOrPause(play.play)"></app-play>
				<div class="slider">
					<ng5-slider [(value)]="engineService.speed.value" [options]="sliderOptions"></ng5-slider>
				</div>
			</div>
		</div>
		<app-light-control class="light-control"></app-light-control>
	</div>

	<app-timeline #timeline matRipple [matRippleColor]="'#12121206'"></app-timeline>
</app-sidebar>

<app-engine #engine></app-engine>
