<mat-sidenav-container class="container">
	<mat-sidenav
		#sidenav
		[(mode)]="over"
		[(opened)]="opened"
		*ngIf="!disabled"
		class="bottom-to-top"
		(closedStart)="onCloseStart()"
	>
		<div class="mt-3">
			<mat-nav-list>
				<a mat-list-item [routerLink]="['/']"> Homepage </a>
			</mat-nav-list>
		</div>
		<h2>Objects</h2>
		<div class="spawnables">
			<button mat-raised-button [dragSource]="actorSource">
				<fa-icon #famale [icon]="maleIcon" [size]="maleIconSize"></fa-icon> Actor
			</button>
		</div>
		<h2>Actors {{ actorCount$ | async }}</h2>
		<div class="spawnables">
			<button mat-raised-button *ngFor="let actor of actors$ | async" (click)="select($event, actor)">
				<fa-icon [icon]="maleIcon" [size]="maleIconSize"></fa-icon> {{ actor.id }} ({{
					actor?._states?.length
				}})
			</button>
		</div>
	</mat-sidenav>
	<mat-sidenav-content> <ng-content id="content"> </ng-content> </mat-sidenav-content>
</mat-sidenav-container>
