// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($mat-light-blue, A400, 400, 100);
$accent: mat-palette($mat-amber, A400, A200, A100);
$back: mat-palette($mat-grey, 200, 100, 700);
// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

$light-theme: mat-light-theme($primary, $accent, $warn);
$dark-theme: mat-dark-theme($primary, $accent, $warn);

// Create the theme object (a Sass map containing all of the palettes).

.dark {
	@include angular-material-theme($dark-theme);
}

.light {
	@include angular-material-theme($light-theme);
}
