// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat-palette($mat-deep-orange, A400, 400, 100);
$client-accent: mat-palette($mat-light-blue, A400, A200, A100);
$client-back: mat-palette($mat-grey, 700, 400, 100);
// The warn palette is optional (defaults to red).
$client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$client-theme: mat-dark-theme($client-primary, $client-accent, $client-warn);
