@import '../../style/variables';

:host {
	.forget {
		background-color: mat-color($error-colors);
	}

	button {
		transition: background-color 0s;
	}

	.group {
		display: grid;
		align-items: center;
		grid-gap: 0.5rem;
		grid-template-columns: 2fr 4fr 1fr;
		mat-label {
			justify-self: end;
		}
	}
}
