:host {
	//position: fixed;
	top: 0;
	display: inline-block;
	margin: 0.2rem;
	color: white;

	> * {
		margin-right: 0.4rem;
		float: left;
		line-height: 2rem;
	}

	> span {
		display: inline-block;
		vertical-align: middle;
	}

	span,
	button {
		margin-top: 1rem;
	}

	.active {
		background-color: greenyellow;
	}
}
