<button
	mat-raised-button
	*ngFor="let mode of sceneControlService.modes"
	(click)="sceneControlService.activeMode.next(mode)"
	[ngClass]="{ active: mode.active }"
>
	<fa-icon [icon]="mode.icon" [size]="iconSize"></fa-icon>
</button>
<span>Height:</span>
<div class="slider">
	<ng5-slider
		[options]="heightSliderOptions"
		(valueChange)="sceneControlService.valueSlider.next($event)"
		[value]="sceneControlService.valueSlider.value"
	></ng5-slider>
</div>
<span>Size:</span>
<div class="slider">
	<ng5-slider
		[options]="sizeSliderOptions"
		(valueChange)="sceneControlService.sizeSlider.next($event)"
		[value]="sceneControlService.sizeSlider.value"
	></ng5-slider>
</div>
