<mat-sidenav-container class="container">
	<mat-sidenav
		[(mode)]="over"
		[(opened)]="opened"
		*ngIf="!disabled"
		class="bottom-to-top"
		(closedStart)="onCloseStart()"
	>
		<h2>Objects</h2>
		<div class="spawnables">
			<button mat-raised-button [dragSource]="actorSource">
				<fa-icon [icon]="maleIcon" [size]="maleIconSize"></fa-icon> Actor
			</button>
		</div>
		<h2>Actors {{ (actorDeltasAtCursor$ | async)?.length }}</h2>
		<div class="spawnables">
			<button
				mat-raised-button
				*ngFor="let actorAccumulator of actorDeltasAtCursor$ | async"
				(click)="select($event, actorAccumulator.actor)"
				[ngStyle]="{ backgroundColor: actorAccumulator.accumulator.color }"
			>
				<fa-icon [icon]="maleIcon" [size]="maleIconSize"></fa-icon> {{ actorAccumulator.accumulator.name }} ({{
					actorAccumulator.actor?._states?.length
				}})
			</button>
		</div>
	</mat-sidenav>
	<mat-sidenav-content> <ng-content id="content"> </ng-content> </mat-sidenav-content>
</mat-sidenav-container>
