<div class="ruler" (mousewheel)="scrollHandler($event)">
	<app-cursor
		#cursor
		id="cursor"
		[containerWidth]="containerWidth"
		>{{ cursor$ | async | amFromUnix | amDateFormat: 'YYYY-MM-DD HH:mm' }}</app-cursor
	>
	<div #divisorContainer class="divisorContainer" (tap)="tap($event)">
		<div *appRepeat="let c; from: unitsBetween + 1" class="divisor"
			 [ngStyle]="{ 'left': toPx((firstDist$ | async) + deltaDist(c)) }">
			<div
				*appRepeat="let m; from: currentUnitDivision - 1"
				class="subDivisor"
				[ngStyle]="{ 'left': toPx(subDist(m)) }"
			></div>
		</div>
	</div>
</div>

<div class="channelsContainer">
	<ng-scrollbar class="channels" [viewClass]="noOverflow">
		<div
			class="channel"
			*ngFor="let actor of actors$ | async as actors"
			(tap)="spawnNode($event, actor, block)"
		>
			{{ loreService.name(actor) }}
			<app-block
				#block
				[actors]="actors"
				[actor]="actor"
				[containerWidth]="containerWidth"
				(jump)="easeCursorTo.next($event)"
			>
			</app-block>
		</div>
	</ng-scrollbar>
</div>

