:host {
	box-shadow: inset 0px 0px 40px rgba(20, 40, 40, 0.1);
	height: 20%;
	position: absolute;
	display: inline-table;
	cursor: grab;

	.node {
		cursor: pointer;
		position: absolute;
		width: 6px;
		margin-left: -3px;
		z-index: 20;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		outline: 2px solid rgba(0, 0, 0, 0.6);
		outline-offset: -2px;
	}
}

:host:active {
	cursor: grabbing;
}
