:host {
	position: absolute;
	cursor: pointer;
	width: 4px;
	margin-left: -2px;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
	overflow: visible;
}

:host::after {
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
	width: 1px;
	height: 200%;
}
