<div
	class="node"
	*ngFor="let delta of (deltas$ | async)"
	[ngStyle]="{ 'left.px': (deltaDistance$(delta) | async) }"
	(panstart)="deltaPan($event, delta)"
	(panup)="deltaPan($event, delta)"
	(pandown)="deltaPan($event, delta)"
	(panleft)="deltaPan($event, delta)"
	(panright)="deltaPan($event, delta)"
	(panend)="deltaPan($event, delta)"
>
	<button
		aria-label="Remove Node from Bloc"
		class="remove"
		mat-icon-button
		*ngIf="delta === selection"

		[disabled]="isAtMostOneLeft"
	>
		<fa-icon [icon]="faTrash" [size]="'lg'"></fa-icon>
	</button>
</div>




<!--
	(tap)="tap($event, delta)"




		(tap)="remove($event, delta)"
		(click)="remove($event, delta)"


		-->
