:host {
	// box-shadow: inset 0px 0px 40px rgba(20, 40, 40, 0.1);

	height: 25%;
	position: absolute;
	display: inline-table;
	cursor: grab;

	z-index: 10;

	.node {
		cursor: pointer;
		position: absolute;
		width: 6px;
		margin-left: -3px;
		z-index: 20;
		height: 100%;

		outline-offset: -2px;
	}

	.remove {
		cursor: pointer;
		z-index: 250;
		display: inherit;
		left: 10px;
	}

	.invalidNode {
		background-color: rgba(249, 14, 0, 0.88);
		outline-color: rgba(255, 41, 0, 0.88);
		transition: background-color 0s;
	}
}

:host:active {
	cursor: grabbing;
}
