<div
	class="node"
	*ngFor="let delta of (deltas$ | async)"
	[ngStyle]="{ 'left.px': (d$(delta) | async) }"

>
	<button
		aria-label="Remove Node from Bloc"
		class="remove"
		mat-icon-button
		*ngIf="delta === selection"

		[disabled]="isAtMostOneLeft"
	>
		<fa-icon [icon]="faTrash" [size]="'lg'"></fa-icon>
	</button>
</div>




<!-- 	(panstart)="panNode($event, delta)"
	(panup)="panNode($event, delta)"
	(pandown)="panNode($event, delta)"
	(panleft)="panNode($event, delta)"
	(panright)="panNode($event, delta)"
	(panend)="panNode($event, delta)"
	(tap)="tap($event, delta)"




		(tap)="remove($event, delta)"
		(click)="remove($event, delta)"


		-->
