<div class="ruler" (mousewheel)="zoomScrollHandler($event)">
	<app-cursor #cursor id="cursor" [containerWidth]="containerWidth">{{
		cursorUnix$ | async | amFromUnix | amDateFormat: 'YYYY-MM-DD HH:mm'
	}}</app-cursor>
	<div #divisorContainer class="divisorContainer" (tap)="tap($event)">
		<div
			*appRepeat="let c; from: unitsBetween + 2"
			class="divisor"
			[ngStyle]="{ left: toPx((firstDist$ | async) + deltaDist(c)) }"
		>
			<div
				*appRepeat="let m; from: currentUnitDivision - 1"
				class="subDivisor"
				[ngStyle]="{ left: toPx(subDist(m)) }"
			></div>
		</div>
	</div>
</div>

<div class="channelsContainer">
	<ng-scrollbar class="channels" viewClass="noOverflow">
		<div class="channel" *ngFor="let actor of actors$ | async as actors" (tap)="spawnNode($event, actor, block)" (mousewheel)="scrollHandler($event)">
			{{ (accumulatorFor(actor) | async)?.accumulator?.name?.value }}
			<!-- <app-block
				#block
				[actor]="actor"
				[containerWidthListener]="containerWidth"
				(jump)="easeCursorTo.next($event)"
			>
			</app-block> -->
		</div>
	</ng-scrollbar>
</div>

